.CNI{
    width: 30%;
    height: 30%;
    float: right; 
}
body{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding-right: 20%;
    padding-left: 20%;
    

}
input {   float: right;   clear: both; }
.lic{
    width:20rem;
    
}

a{
    color: #659224;
    
}
a:hover{
    color: #379EC1;
}
.bck{
    background-color:#659224;
}
.round{
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    margin: 5rem;
    
}
.ma{
    padding-bottom: 5%;
}
