.CNI{
    position: relative;
    width: 20rem;
    margin-left: auto;
    margin-right: 0;
}
.nme{
    position: relative;
    margin-left: 0;
    margin-right: auto;
    width: 20rem;
}
.cen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding-right: 20%;
    padding-left: 20%;
    

}
input {   float: right;   clear: both; }
.lic{
    width:20rem;
    margin-left: auto;
    margin-right: auto;
    
}

a{
    color: #659224;
    
}
a:hover{
    color: #379EC1;
}
.bck{
    background-color:#659224;
}
.round{
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    padding: 5rem;
    
}
.ma{
    padding-bottom: 5%;
}
img{
    width : 20rem;
}
